:host {
  display: flex !important;
  flex: 1;
  flex-direction: column !important;
}
.auth-form-container-div {
  margin-top: 10vh;
}

.auth-form-container-row {
  background-color: #ffffff;
  border: 2px solid #d6d6dc;
  padding-bottom: 10px;
}
