<div class="main-container">
  <!-- <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
    <clr-alert-item>
      <span class="alert-text"> This is an app level alert. </span>
      <div class="alert-actions">
        <button class="btn alert-action">Fix</button>
      </div>
    </clr-alert-item>
  </clr-alert> -->

  <frj-header></frj-header>
  <div class="content-container">
    <frj-aside></frj-aside>
    <div class="content-area">
      <!-- <clr-alert [clrAlertType]="'danger'">
        <clr-alert-item>
          <span class="alert-text"> This is an app level alert. </span>
          <div class="alert-actions">
            <button class="btn alert-action btn-sm">Fix</button>
          </div>
        </clr-alert-item>
      </clr-alert> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
