.auth-form-title-holder-row {
  height: 4vh;
  background-color: #ffffff;
  color: #00364d;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  font-size: 1.2em;
  margin-bottom: 10px;
}
