<!-- <div class="clr-row h-100">
  <div class="clr-col-4 clr-offset-4 h-100 d-flex clr-align-items-center">
    <div class="">
      <frj-top-offset-title [title]="title"></frj-top-offset-title>

      <form [formGroup]="authForm" novalidate (submit)="resetPassword()">
        <div class="row">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group"
          >
            <label for="password">Password</label>
            <input
              formControlName="password"
              id="password"
              type="password"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group"
          >
            <label for="confirm_password">Confirm Password</label>
            <input
              formControlName="confirm_password"
              id="confirm_password"
              type="password"
              class="form-control"
            />
          </div>
        </div>
        <frj-form-error
          [error]="errorMessage"
          *ngIf="showError"
        ></frj-form-error>
        <div class="row">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group"
          >
            <button
              class="btn custom-auth-btn"
              type="submit"
              *ngIf="!showSpinner"
            >
              Reset Password
            </button>
            <frj-button-spinner *ngIf="showSpinner"></frj-button-spinner>
          </div>
        </div>
      </form>

      <div class="row footer-auth-row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left-auth-footer">
          <a [routerLink]="['/users/login']"> Back to sign in</a>
        </div>
        <div
          class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right-auth-footer"
        >
          <a [routerLink]="['/users/create-account']"> Sign up now </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<form
  clrForm
  class="login"
  clrLayout="vertical"
  [formGroup]="authForm"
  (submit)="resetPassword()"
>
  <section class="title">
    Reset password

    <h5 class="hint">Set your new password</h5>
  </section>

  <div class="login-group">
    <clr-password-container>
      <label class="clr-sr-only">New password</label>
      <input
        type="password"
        name="password"
        clrPassword
        placeholder="New password"
        formControlName="password"
      />
    </clr-password-container>

    <div class="error active" *ngIf="showError">
      {{ errorMessage }}
    </div>

    <button
      type="submit"
      [clrLoading]="showSpinner"
      class="btn btn-outline-primary"
    >
      Reset
    </button>
    <div class="signup">
      Remembered your old password?
      <a routerLink="/users/login"> Login here </a>
    </div>
  </div>
</form>
