<clr-datagrid
  [(clrDgSelected)]="selected"
  *ngIf="!isFetching && siloData.length; else fetching"
>
  <clr-dg-action-bar>
    <div class="btn-group">
      <clr-dropdown>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          clrDropdownTrigger
        >
          Export / Download
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button
            type="button"
            clrDropdownItem
            (click)="downloadFile('csv_data')"
          >
            As CSV File
          </button>
          <button
            type="button"
            clrDropdownItem
            (click)="downloadFile('excel_data')"
          >
            As Excel File
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-dg-action-bar>

  <clr-dg-column
    *ngFor="let col of columns"
    [clrDgField]="col.name"
    [style.width.px]="200"
  >
    <ng-container *clrDgHideableColumn="{ hidden: false }">
      {{ col.name }}
    </ng-container>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let row of siloData" [clrDgItem]="row">
    <clr-dg-cell *ngFor="let col of columns" [style.width.px]="200">{{
      row[col.name]
    }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer></clr-dg-footer>

  <clr-dg-placeholder>
    Looks like we could not find any data in this silo
  </clr-dg-placeholder>
</clr-datagrid>

<ng-template #fetching>
  <clr-datagrid [clrDgLoading]="isFetching">
    <clr-dg-column>column_0</clr-dg-column>
    <clr-dg-column>column_1</clr-dg-column>
    <clr-dg-column>column_2</clr-dg-column>
    <clr-dg-column>column_3</clr-dg-column>
    <clr-dg-column>column_4</clr-dg-column>
    <clr-dg-column>column_5</clr-dg-column>

    <clr-dg-footer></clr-dg-footer>
    <clr-dg-placeholder>
      Looks like we could not find any data in this silo
    </clr-dg-placeholder>
  </clr-datagrid>
</ng-template>
