<clr-modal [clrModalOpen]="visible" (clrModalOpenChange)="closed()">
  <h3 class="modal-title">New Data Source</h3>

  <div class="modal-body">
    <clr-alert [clrAlertType]="'danger'" *ngIf="showError">
      <clr-alert-item>
        <span class="alert-text"> {{ errorMessage }} </span>
      </clr-alert-item>
    </clr-alert>

    <form clrForm clrLayout="horizontal" [formGroup]="uploaderForm">
      <clr-select-container>
        <label for="source">Source</label>
        <select
          clrSelect
          id="source"
          name="source"
          required
          formControlName="source"
        >
          <option selected>Select source</option>
          <option
            *ngFor="let source of sources$ | async as sources; index as i"
            [value]="source.id"
          >
            {{ source.name }}
          </option>
        </select>
        <!-- <clr-control-helper>Helper text</clr-control-helper> -->
        <!-- <clr-control-error>This field is required!</clr-control-error> -->
      </clr-select-container>

      <div class="clr-form-control app-uploader-file">
        <label for="basic-default" class="clr-control-label">File</label>
        <div class="clr-control-container">
          <div class="clr-file-wrapper">
            <input
              type="file"
              id="basic-default"
              placeholder="Enter value here"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              (change)="fileSelected($event)"
              required
            />
          </div>
          <!-- IMPORTANT DIFFERENCE IN STRUCTURE! ICON IS NOT PART OF THE INPUT WRAPPER -->
          <clr-icon
            class="clr-validate-icon"
            shape="exclamation-circle"
          ></clr-icon>
          <span class="clr-subtext"
            >Only CSV and Excel file formats allowed.</span
          >
        </div>
      </div>

      <clr-input-container>
        <label for="siloLabel">Label</label>
        <input
          clrInput
          id="siloLabel"
          type="text"
          formControlName="silo_label"
          placeholder="New file name"
        />
      </clr-input-container>
    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closed()">
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="uploaderForm.invalid"
        (click)="upload()"
      >
        Upload
      </button>
    </div>
  </div>
</clr-modal>
