<div class="clr-row h-100">
  <div class="clr-col-4 clr-offset-4 h-100 d-flex clr-align-items-center">
    <div class="app-login-container">
      <frj-top-offset-title [title]="title"></frj-top-offset-title>

      <form [formGroup]="authForm" novalidate (submit)="login()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            formControlName="username"
            id="username"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            formControlName="password"
            id="password"
            type="password"
            class="form-control"
          />
        </div>
        <frj-form-error
          [error]="errorMessage"
          *ngIf="showError"
        ></frj-form-error>
        <div class="form-group">
          <button
            class="btn custom-auth-btn"
            type="submit"
            *ngIf="!showSpinner"
          >
            Login
          </button>
          <frj-button-spinner *ngIf="showSpinner"></frj-button-spinner>
        </div>
      </form>

      <div class="clr-row footer-auth-row">
        <div class="clr-col-6 left-auth-footer">
          <a routerLink="/users/forgot-password"> Forgot password</a>
        </div>
        <div class="clr-col-6 right-auth-footer">
          <a routerLink="/users/create-account"> Sign up now </a>
        </div>
      </div>
    </div>
  </div>
</div>
