<frj-top-offset-title [title]="title"></frj-top-offset-title>

<form [formGroup]="authForm" novalidate (submit)="login()">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
      <label for="username">Username</label>
      <input
        formControlName="username"
        id="username"
        type="text"
        class="form-control"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
      <button class="btn custom-auth-btn" type="submit">Login</button>
    </div>
  </div>
</form>

<div class="row footer-auth-row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left-auth-footer">
    <a [routerLink]="['/users/forgot-password']"> Forgot password</a>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right-auth-footer">
    <a [routerLink]="['/users/create-account']"> Sign up now </a>
  </div>
</div>
