:host {
  .login-wrapper {
    min-height: unset;
    background: unset;
    border: unset;

    .login {
      min-height: 100%;
      height: 100%;
      // position: unset;
      border: 2px solid #dfdfdf;
    }
  }
}
