<frj-top-offset-title [title]="title"></frj-top-offset-title>

<form [formGroup]="authForm" novalidate (submit)="forgotPassword()">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="text"
        class="form-control"
      />
    </div>
  </div>
  <frj-form-error [error]="errorMessage" *ngIf="showError"></frj-form-error>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
      <button class="btn custom-auth-btn" type="submit" *ngIf="!showSpinner">
        Recover password
      </button>
      <frj-button-spinner *ngIf="showSpinner"></frj-button-spinner>
    </div>
  </div>
</form>

<div class="row footer-auth-row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left-auth-footer">
    <a [routerLink]="['/users/login']"> Back to sign in</a>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right-auth-footer">
    <a [routerLink]="['/users/create-account']"> Sign up now </a>
  </div>
</div>
