<form
  clrForm
  class="login"
  clrLayout="vertical"
  [formGroup]="authForm"
  (submit)="forgotPassword()"
>
  <section class="title">
    Recover password

    <h5 class="hint">Enter your email address to start password recovery.</h5>
  </section>

  <div class="login-group">
    <clr-input-container>
      <label class="clr-sr-only">Email address</label>
      <input
        type="text"
        name="email"
        clrInput
        placeholder="Email address"
        formControlName="email"
      />
    </clr-input-container>

    <div class="error active" *ngIf="showError">
      {{ errorMessage }}
    </div>

    <button
      type="submit"
      [clrLoading]="showSpinner"
      class="btn btn-outline-primary"
    >
      {{ (showSuccess && 'Resend') || 'Submit' }}
    </button>
    <div class="signup">
      Or
      <a routerLink="/users/login"> Sign in here </a>
    </div>
  </div>

  <clr-alert [clrAlertType]="'success'" *ngIf="showSuccess">
    <clr-alert-item>
      <span class="alert-text">
        Great! Please check your email inbox for the account reset link.
      </span>
    </clr-alert-item>
  </clr-alert>
</form>
