<div class="card-columns" *ngIf="silos$ | async as silos; else loading">
  <div class="card" *ngFor="let silo of silos">
    <div class="card-block">
      <h3 class="card-title">{{ silo.silo_label || silo.silo_name }}</h3>

      <p class="card-text">
        Rows: {{ silo.row_count }} Columns: {{ silo.column_count }}
      </p>
      <p class="card-text">Created: {{ silo.create_date | date }}</p>
    </div>
    <div class="card-footer">
      <a
        [routerLink]="['/data/sources/', silo.silo_uuid]"
        role="button"
        class="btn btn-icon"
      >
        <clr-icon shape="folder-open"></clr-icon>
      </a>
    </div>
  </div>
</div>

<ng-template #loading>
  <frj-content-loader isMedium></frj-content-loader>
</ng-template>
