<div class="main-container">
  <frj-header></frj-header>

  <main class="content-container clr-display-flex clr-flex-grow-1">
    <div class="content-area">
      <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div
          class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 auth-form-container-div"
        >
          <router-outlet></router-outlet>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
      </div>
    </div>
  </main>

  <frj-footer></frj-footer>
</div>
