<div class="main-container">
  <frj-header></frj-header>

  <main class="content-container clr-display-flex clr-flex-grow-1">
    <div class="content-area">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"></div>
        <div
          class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 auth-form-container-div"
        >
          <router-outlet></router-outlet>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"></div>
      </div>
    </div>
  </main>

  <frj-footer></frj-footer>
</div>
