<clr-vertical-nav
  [clrVerticalNavCollapsible]="true"
  [(clrVerticalNavCollapsed)]="collapsed"
  class="nav-trigger--bottom"
>
  <a clrVerticalNavLink routerLink="/data/dashboard" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>
    Dashboard
  </a>
  <a
    clrVerticalNavLink
    routerLink="/dashboard/data-sources"
    routerLinkActive="active"
  >
    <clr-icon clrVerticalNavIcon shape="data-cluster"></clr-icon>
    Data Sources
  </a>

  <div class="nav-divider"></div>

  <a
    clrVerticalNavLink
    routerLink="/settings/preferences"
    routerLinkActive="active"
  >
    <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>
    Preferences
  </a>
</clr-vertical-nav>
