<!-- <div class="clr-row h-100">
  <div class="clr-col-4 clr-offset-4 h-100 d-flex clr-align-items-center">
    <div class="app-signup-container">
      <frj-top-offset-title [title]="title"></frj-top-offset-title>

      <form [formGroup]="authForm" novalidate (submit)="signup()">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
            <label for="first_name">First Name</label>
            <input
              formControlName="first_name"
              id="first_name"
              type="text"
              class="form-control"
            />
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
            <label for="last_name">Last Name</label>
            <input
              formControlName="last_name"
              id="last_name"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
            <label for="email">Email</label>
            <input
              formControlName="email"
              id="email"
              type="email"
              class="form-control"
            />
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
            <label for="username">Username</label>
            <input
              formControlName="username"
              id="username"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
            <label for="password">Password</label>
            <input
              formControlName="password"
              id="password"
              type="password"
              class="form-control"
            />
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
            <label for="confirm_password">Confirm Password</label>
            <input
              formControlName="confirm_password"
              id="confirm_password"
              type="password"
              class="form-control"
            />
          </div>
        </div>
        <frj-form-error
          [error]="errorMessage"
          *ngIf="showError"
        ></frj-form-error>
        <div class="row">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group"
          >
            <button
              class="btn custom-auth-btn"
              type="submit"
              *ngIf="!showSpinner"
            >
              Sign up
            </button>
            <frj-button-spinner *ngIf="showSpinner"></frj-button-spinner>
          </div>
        </div>
      </form>

      <div class="row footer-auth-row">
        <div
          class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 single-auth-footer"
        >
          <a [routerLink]="['/users/login']">Have account? Sign in</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<form
  clrForm
  class="login"
  clrLayout="vertical"
  [formGroup]="authForm"
  (submit)="signup()"
>
  <section class="title">
    Signup

    <h5 class="hint">Create your account to start working on your data</h5>
  </section>

  <div class="login-group">
    <clr-input-container>
      <label class="clr-sr-only">First Name</label>
      <input
        type="text"
        name="firstName"
        clrInput
        placeholder="First name"
        formControlName="first_name"
      />
    </clr-input-container>

    <clr-input-container>
      <label class="clr-sr-only">Last Name</label>
      <input
        type="text"
        name="lastName"
        clrInput
        placeholder="Last name"
        formControlName="last_name"
      />
    </clr-input-container>

    <clr-input-container>
      <label class="clr-sr-only">Email address</label>
      <input
        type="text"
        name="emailAddress"
        clrInput
        placeholder="Email address"
        formControlName="email"
      />
    </clr-input-container>

    <clr-password-container>
      <label class="clr-sr-only">Password</label>
      <input
        type="password"
        name="password"
        clrPassword
        placeholder="Password"
        formControlName="password"
      />
    </clr-password-container>

    <div class="error active" *ngIf="showError">
      {{ errorMessage }}
    </div>

    <button
      type="submit"
      [clrLoading]="showSpinner"
      class="btn btn-outline-primary"
    >
      Submit
    </button>
    <div class="signup">
      Already have an account?
      <a routerLink="/users/login"> Login here </a>
    </div>
  </div>

  <clr-alert [clrAlertType]="'success'" *ngIf="showSuccess">
    <clr-alert-item>
      <span class="alert-text">
        Account successfully created. Check your email for the confirmation
        link.
      </span>
    </clr-alert-item>
  </clr-alert>
</form>
