<frj-top-offset-title [title]="title"></frj-top-offset-title>

<form [formGroup]="authForm" novalidate (submit)="signup()">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
      <label for="first_name">First Name</label>
      <input
        formControlName="first_name"
        id="first_name"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
      <label for="last_name">Last Name</label>
      <input
        formControlName="last_name"
        id="last_name"
        type="text"
        class="form-control"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="form-control"
      />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
      <label for="username">Username</label>
      <input
        formControlName="username"
        id="username"
        type="text"
        class="form-control"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
      <label for="organization">Organization</label>
      <input
        formControlName="organization"
        id="organization"
        type="text"
        class="form-control"
      />
    </div>
  </div>
  <frj-form-error [error]="errorMessage" *ngIf="showError"></frj-form-error>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
      <button class="btn custom-auth-btn" type="submit" *ngIf="!showSpinner">
        Sign up
      </button>
      <frj-button-spinner *ngIf="showSpinner"></frj-button-spinner>
    </div>
  </div>
</form>

<div class="row footer-auth-row">
  <div
    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 single-auth-footer"
  >
    <a [routerLink]="['/users/login']">Have account? Sign in</a>
  </div>
</div>
